@model Chave

@{
    ViewBag.Title = "Chave de Ativação";
}

<h2>
    <p style="text-align: center;">
        Sua Chave de Ativação é:
    </p>
</h2>

<div class="form-horizontal">
        

    <div class="form-group">
        <p style="text-align: center;">
            <span style="font-size:72px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: navy"><strong>@ViewBag.ChavedeAtivacao</strong></span></span></span>
        </p>
    </div>
</div>
