@{
    ViewBag.Title = "Chave Master";
}

<br />
<br />

<h2 style="text-align: center;">
    No campo Usuário entre com o número do seu CPF
</h2>

<br />
<br />

<h2 style="text-align: center;">
    Sua Senha de Administração é:
</h2>

<div class="form-horizontal">
    <div class="form-group">
        <p style="text-align: center;">
            <span style="font-size:72px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color: navy"><strong>@ViewBag.ChavedeAtivacao</strong></span></span></span>
        </p>
        <p style="text-align: center;">
            Válida até o fim do dia.
        </p>
    </div>
</div>







