@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>INBRATEVE <small>Instituto Brasileiro de Tecnologia Veicular</small> </h3>

<br />
<p>Endereço:</p>
<address>
    AV. T-63 N° 2074, Jardim América <br />
    Goiânia - Goiás <br />
</address>
   
<p>
    Telefones: <a href="tel:+556239410488">+55 (62) 3941-0488</a> | <a href="tel:+556239467201">+55 (62) 3946-7201</a>
</p>

<br />

<address>
    <strong>Suporte Técnico:</strong>   <a href="mailto:desenvolvimento@inbrateve.com.br">desenvolvimento@inbrateve.com.br</a><br />
    <strong>Comercial:</strong> <a href="mailto:Comercial1@inbrateve.com">Comercial1@inbrateve.com</a>
</address>