@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lorem Ipsum</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet augue luctus, fringilla nibh et, efficitur justo. Fusce sagittis eget neque in ultricies. Vestibulum a odio in sapien viverra dictum ut sit amet massa. Cras tristique malesuada ligula eu pretium. In et scelerisque eros, at vestibulum arcu. Pellentesque vel diam convallis odio lacinia laoreet id eget magna. Donec tempor, velit a tristique convallis, elit sapien vulputate leo, in dignissim felis justo sed arcu. Phasellus tempus at elit vitae laoreet. Curabitur pharetra mattis interdum. Vivamus ut sem euismod enim accumsan consectetur ut in tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque et tempor ante, eget vulputate ipsum.</p>
    <p>
        Donec sodales nunc orci, at luctus elit mattis eget. Donec suscipit enim a nibh placerat, eget facilisis felis varius. Maecenas hendrerit arcu magna, vel posuere neque fringilla in. Fusce pulvinar varius ornare. Curabitur leo felis, posuere ac efficitur quis, rhoncus nec libero. Vestibulum elementum sapien in nisi iaculis, quis facilisis mi accumsan. Donec lacinia sed sem in porttitor. Ut sed rhoncus diam.</p>
</div>
